.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(206, 30, 3);
}

.nav_icon{
    width: 120px;
    height: auto;
    cursor: url('../../../public/pokemon/PC\ Box\ Hand.cur'), pointer;
}

.lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0px;
    gap: 1em;
}

.items_labels{
    display: flex;
    flex-direction: row;
    gap: 3em;
}


.items_labels a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    cursor: url('../../../public/pokemon/PC\ Box\ Hand.cur'), pointer;
}

.items{
    list-style: none;
}